<div class="jumbotron">
  <h2>Phoenix + Turbolinks test case</h2>

  <p>Related issues:</p>
  <ul>
    <li>phoenix_html issue <a href="https://github.com/phoenixframework/phoenix_html/issues/192" target="_blank">#192</a></li>
    <li>ex_turbolinks issue <a href="https://github.com/imranismail/ex_turbolinks/issues/6" target="_blank">#6</a></li>
  </ul>

  <hr>

  <p>
    I'm using <a href="https://hexdocs.pm/phoenix_html/Phoenix.HTML.Link.html#link/2" target="_blank"><code>link/2</code></a>
    to create <code>:get</code>, <code>:post</code> and <code>:delete</code> links:
  </p>

  <pre><code>link("show",   to: things_path(@conn, :show))
link("post",   to: things_path(@conn, :create), method: :post)
link("delete", to: things_path(@conn, :delete), method: :delete, data: [remote: true])</code></pre>

  <p><small>
    The <code>data: [remote: true]</code> in the delete link is optional, making it an XHR request.
  </small></p>

  <p class="test-links">
    <%= link("show",   to: things_path(@conn, :show)) %> |
    <%= link("post",   to: things_path(@conn, :create), method: :post) %> |
    <%= link("delete", to: things_path(@conn, :delete), method: :delete, data: [remote: true]) %>
  </p>

  <hr>
  <p>
    But when using <a href="https://github.com/imranismail/ex_turbolinks/issues/6" target="_blank">Turbolinks</a> the <code>:post</code> and <code>:delete</code> links stop working.
    It seems <code>data-to="/things"</code> is ignored and instead it follows <code>href="#"</code>, causing errors like this:
  </p>

  <pre><code>no route found for POST / (PhoenixTestWeb.Router)</code></pre>

  <hr>

  <h3>Workaround</h3>
  <p>The following example works with Turbolinks:</p>

  <pre><code>link("post",   to: things_path(@conn, :create), data: [method: :post])
link("delete", to: things_path(@conn, :delete), data: [method: :delete, remote: true])</code></pre>

  <p class="test-links">
    <%= link("post",   to: things_path(@conn, :create), data: [method: :post]) %> |
    <%= link("delete", to: things_path(@conn, :delete), data: [method: :delete, remote: true]) %>
  </p>

  <hr>

  <h3>What about <a href="https://hexdocs.pm/phoenix_html/Phoenix.HTML.Link.html#link/2" target="_blank"><code>button</code></a>?</h3>

  <p>
    The same approach doesn't seem to work with
    <a href="https://hexdocs.pm/phoenix_html/Phoenix.HTML.Link.html#button/2" target="_blank"><code>button/2</code></a>
    :(
  </p>

  <pre><code>button("delete", to: things_path(@conn, :delete), data: [method: :delete, remote: true])</code></pre>

  <p>Output:</p>

  <pre><code><%= ~s(<button data-csrf="csrf_token" data-method="delete" data-remote="true" data-to="/session">
  Logout</button>) %></code></pre>

  <p class="test-links">
    <%= button("delete", to: things_path(@conn, :delete), data: [method: :delete, remote: true], class: "btn btn-primary") %>
  </p>
</div>
